<!DOCTYPE html>
<html>
<head>
	<title>MTP3_zing</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../../templates/front/css/media.css">
</head>
<body>
	<div>
		<div style="">
			<img src="../../templates/front/images/mtp3.png" width="87%" height="180px">
		</div>
		<div>
			<div id="menu" style="width: 13%">
				<ul>
					<li><a href="#">Trang chủ</a></li>
					<li>
						<a href="#">Bảng Xếp Hạng</a>
						<ul class="sub-menu">
							<li><a href="#">Việt Nam</a></li>
							<li><a href="#">Âu Mĩ</a></li>
							<li><a href="#">Hàn Quốc</a></li>
						</ul>
					</li>
					<li><a href="#">Top 100</a></li>
					<li>
						<a href="#">Nghệ Sĩ</a>
						<ul class="sub-menu">
							<li><a href="#">Việt Nam</a></li>
							<li><a href="#">Âu Mĩ</a></li>
							<li><a href="#">Hàn Quốc</a></li>
						</ul>
					</li>
					<li>
						<a href="#">Thể loại</a>
						<ul class="sub-menu">
							<li><a href="#">Việt Nam</a></li>
							<li><a href="#">Âu Mĩ</a></li>
							<li><a href="#">Hàn Quốc</a></li>
						</ul>
					</li>
					<li><a href="#">Tài khoản</a></li>
					<li><a href="#">Liên hệ</a></li>
				</ul>
			</div>
			<div>
				<div id="content">
			<div id="header">
				<div id="logo" style="width: 87%%"><img src="http://streaming1.danviet.vn/upload/1-2017/images/2017-02-17/148729658745680-hon-dao-jeju1.jpg" width="100%" height="250px"></div>
				<div id="slogan">Nơi này có anh- Tùng Núi</div>

			</div>
			<div class="call-to-action">
				<iframe scrolling="no" width="640" height="180" src="http://mp3.zing.vn/embed/song/ZW79ZBE8" frameborder="0" allowfullscreen="true"></iframe>
				<h3>Lời bài hát</h3>
				<p><i>Em là ai từ đâu bước đến nơi đây dịu dàng chân phương<br>
					Em là ai tựa như ánh nắng ban mai ngọt ngào trong sương <br>
					Ngắm em thật lâu con tim anh yếu mềm <br>
					Đắm say từ phút đó từng giây trôi yêu thêm.<br> 
					Bao ngày qua bình minh đánh thức xua tan bộn bề nơi anh<br> 
					Bao ngày qua niềm thương nỗi nhớ bay theo bầu trời trong xanh<br> 
					Liếc đôi hàng mi mong manh anh thẫn thờ <br>
					Muốn hôn nhẹ mái tóc bờ môi em, anh mơ. <br>
					<br>
					[ĐK:]<br> 
					Cầm tay anh, dựa vai anh<br> 
					Kề bên anh nơi này có anh <br>
					Gió mang câu tình ca <br>
					Ngàn ánh sao vụt qua nhẹ ôm lấy em<br> 
					(Yêu em thương em con tim anh chân thành).<br> 
					<br>
					Cầm tay anh, dựa vai anh<br> 
					Kề bên anh nơi này có anh <br>
					Khép đôi mi thật lâu <br>
					Nguyện mãi bên cạnh nhau <br>
					Yêu say đắm như ngày đầu. <br>
					<br>
					Mùa xuân đến bình yên cho anh những giấc mơ<br> 
					Hạ lưu giữ ngày mưa ngọt ngào nên thơ <br>
					Mùa thu lá vàng rơi đông sang anh nhớ em <br>
					Tình yêu bé nhỏ xin dành tặng riêng em. <br>
					<br>
					[Rap:]<br> 
					Còn đó tiếng nói ấy bên tai vấn vương bao ngày qua<br> 
					Ánh mắt bối rối nhớ thương bao ngày qua <br>
					Yêu em anh thẫn thờ, con tim bâng khuâng đâu có ngờ<br> 
					Chẳng bao giờ phải mong chờ <br>
					Đợi ai trong chiều hoàng hôn mờ <br>
					Đắm chìm hoà vào vần thơ <br>
					Ngắm nhìn khờ dại mộng mơ <br>
					Đừng bước vội vàng rồi làm ngơ<br> 
					Lạnh lùng đó làm bộ dạng thờ ơ <br>
					Nhìn anh đi em nha <br>
					Hướng nụ cười cho riêng anh nha <br>
					Đơn giản là yêu con tim anh lên tiếng thôi.<br> 
					<br>
					* Uhhhhhhhh nhớ thương em<br> 
					Uhhhhhhhh nhớ thương em lắm <br>
					Ahhhhhhh phía sau chân trời <br>
					Có ai băng qua lối về cùng em đi trên đoạn đường dài.<br>
					</i></p>
					<hr>
			</div>
			</div>
			<div>
				<img src="a.png" style="width: 87%; margin-left: 13%;">
			</div>
		</div>
	</div>
</body>
</html>